<div class="grid justify-content-center">
  <div class="col-12 justify-content-center">

    <div class="card justify-content-center">

      <table class="justify-content-center">
        <thead>
          <tr>
            <th> Employee's Name</th>
            <th>Email Address </th>
            <th>Image </th>
            <th>File </th>

          </tr>
        </thead>

        <tbody>
          <tr>
            <td>Muhammad Aliyu</td>
            <td>maliyu1015@gmail.com</td>
            <td>gthhhhhhhhh.jpg</td>
            <td>MyCv.PDF</td>
          </tr>
        </tbody>
      </table>

    </div>

  </div>

</div>
